<% @flavors.each do |flavor| %>
   <div>
      <%= flavor.name %>
      <%= flavor.price %>
      <%= flavor.status %>
      <button class="open">open</button>
   </div>
<% end %>
<div id="overlay"></div>
<div id="modalWindow">
   <%= form_for(@flavor) do |f| %>
      <%= f.label :status, 'ステータスを変更' %>
      <%= f.radio_button :status, 1 %>
      <%= f.label :status, "やばい"%>
      <%= f.radio_button :status, 2%>
      <%= f.label :status, "普通"%>
      <%= f.radio_button :status, 3%>
      <%= f.label :status, "たくさん"%>
      <%= f.submit "Send" %>
   <% end %>
   <button id="close">close</button>
</div>