<header>
   <div class="container">
      <nav>
         <%= link_to flavors_path, class: "header-logo" do %>
            <%= image_tag "header-logo" %>
         <% end %>
         <ul class="header-list">
            <% if user_signed_in? %>
               <li>
                  <%= link_to, new_flavor_path do %>
                     <%= image_tag "kounyuu.png"%>
                  <% end %>
               </li>
               <li>
                  <%= link_to, user_path(current_user) do %>
                     <%= image_tag "mypage.png" %>
                  <% end %>
               </li>
               <li>
                  <%= link_to, destroy_user_session_path do %>
                     <%= image_tag "logout.png" %>
                  <% end %>
               </li>
            <% else %>
               <li id="sign-up">
                  <%= link_to new_user_registration_path do %>
                     <%= image_tag "sign-up.png" %>
                  <% end %>
               </li>
               <li id="login">
                  <%= link_to new_user_session_path do %>
                     <%= image_tag "login.png"%>
                  <% end %>
               </li>
            <% end %>
         </ul>
      </nav>
   <!--   <a class="navbar-brand" href="/">-->
   <!--      <img src="/assets/header-logo.png" alt="header-logo">-->
   <!--   </a>-->
   <!--   <div class="justify-content-end">-->
   <!--   <% if user_signed_in? %>-->
   <!--         <%= link_to "購入", new_flavor_path, method: :get, class: "nav-link d-none d-md-inline" %>-->
   <!--         <%= link_to "マイページ", user_path(current_user), class: "nav-link d-none d-md-inline" %>-->
   <!--         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link d-none d-md-inline" %>-->
   <!--         <%= form_tag(search_flavors_path,:method => 'get', class: "nav-link d-none d-md-inline") do %>-->
   <!--            <%= text_field_tag :search %>-->
   <!--            <%= submit_tag 'Search', :name => nil %>-->
   <!--         <% end %>-->
   <!--      <% else %>-->
   <!--         <%= link_to new_user_registration_path, class: "nav-link d-none d-md-inline" do %>-->
   <!--            <%= image_tag "sign-up.png" %>-->
   <!--         <% end %>-->
   <!--         <%= link_to new_user_session_path, class: "nav-link d-none d-md-inline" do %>-->
   <!--            <%= image_tag "login.png"%>-->
   <!--         <% end %>-->
   <!--   <% end %>-->
   <!--   </div>-->
   <!--<div class="dropdown d-md-none" >-->
   <!--   <a class="btn btn-danger btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
          
   <!--   </a>-->
   <!--   <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdoenMenuLink">-->
   <!--      <% if user_signed_in? %>-->
   <!--         <%= link_to "購入", new_flavor_path, method: :get, class: "dropdown-item"%>-->
   <!--         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"%>-->
   <!--         <%= link_to "マイページ", user_path(current_user), class: "dropdown-item"%>-->
   <!--      <% else %>-->
   <!--         <%= link_to "ログイン", new_user_session_path, class: "dropdown-item" %>-->
   <!--      <% end %>-->
   <!--      <%= form_tag(search_flavors_path,:method => 'get') do %>-->
   <!--        <%= text_field_tag :search %>-->
   <!--        <%= submit_tag 'Search', :name => nil %>-->
   <!--      <% end %>-->
   <!--   </div>-->
   <!--</div>-->
   <!--</nav>-->
</div>
</header>
